<section class="password-section">

    <div class="row">
        <div class="col-md-6 password-image">
            <div class="pti">
                <p>Welcome! This is a Shopify Theme designed for a fashion store.
                 The focus is to get minimum functionality on which the store can be fully built.<br>
                 The store password is "vooqui"
                <p>For code update check <a href="https://github.com/ezekieltech/privateShopifyTheme">here</a></p>
                <p>Feel free to send feedback to respond [@] analyticshubng dot tech</p>
            </div>
        </div>
        <div class="col-md-6 password">
            {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <label for="password">Enter store using password:</label>
            <input type="password" name="password" id="password" autofocus="" />
            <input class="btn btn-primary" name="commit" type="submit" value="Enter" />
            {% endform %}
        </div>    
    </div>
    


</section>




